{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <!-- page details -->
    <div class="breadcrumb-agile bg-light py-2">
        <ol class="breadcrumb bg-light m-0">
            <li class="breadcrumb-item">
                <a href="{% url 'home' %}">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Password Reset Done Page</li>
        </ol>
    </div>
    <!-- //page details -->

    <!-- register -->
    <div class="login-contect py-5">
        <div class="container py-xl-5 py-3">
            <div class="login-body">
                <div class="login p-4 mx-auto">
                    <h5 class="text-center mb-4">Password Reset Done</h5>
                    	<div class="alert alert-info">
                    		An email has been sent with instructions to reset your password
                    	</div>
                </div>
            </div>
        </div>
    </div>
    <!-- //register -->
{% endblock content %}